In [1]:
import pandas as pd

Question 1

In [2]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Question 2

In [4]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series=pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Question 3

In [ ]:
l1=['Alice','Bob','Claire']
l2=[25,30,27]
l3=['Female','Male','Female']
data={'name':l1,'age':l2,'gender':l3}
df=pd.DataFrame(data)
df.head()

Question 4
In Pandas, a DataFrame is a two-dimensional labeled data structure with columns that can be of different data types
On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any type

In [ ]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)


ages = pd.Series([25, 30, 27], name='Age')

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

Question 5

In [9]:
df.tail()
df.head()
df.columns
df.dtypes

name      object
age        int64
gender    object
dtype: object

Question 6
In Pandas, Series and DataFrame are mutable, while Panel is deprecated and considered immutable.

Question 7

In [10]:
import pandas as pd
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])


data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female